{{> menu}}

<form class="box"  action="/placemark/{{location._id}}/updateplacemark/{{placemark._id}}" method="POST">
  <label>Update Placemark Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="name", value="{{placemark.name}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="description" value="{{placemark.description}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="latitude" value="{{placemark.latitude}}">
      </div>
        <div class="field">
            <input class="input" type="text"  name="longitude" value="{{placemark.longitude}}">
        </div>
        <div class="field">
            <div class="select">
                <select name="category">
                    <option value="Category"> Category</option>
                    <option value="Tourist-attractions"> Tourist attractions</option>
                    <option value="Parks"> Parks</option>
                    <option value="Pubs"> Pubs</option>
                    <option value="Shops"> Shops</option>
                    <option value="Beaches"> Beaches</option>
                    <option value="Car parks"> Car parks</option>
                    <option value="Schools"> Schools</option>
                    <option value="Others"> Others</option>
                </select>
            </div>
        </div>
    </div>
  </div>
  <button class="button is-primary">Update Placemark</button>
</form>



